<br>
<%= image_tag "http://rivista-cdn.reptilesmagazine.com/images/cache/cache_d/cache_3/cache_e/fire-salamander3-d58f3e3d.jpeg?ver=1503615334&aspectratio=1.3333333333333" %>

<div id="content">
  <h1>Zatch Facts</h1>
  <ul>
    <li><p>His name is actually Zach, not Zatch</p></li>
    <li><p>He is 16 feet tall</p></li>
    <li><p>When ordering at bars, he frequently mixes up the terms 'IPA' and 'API'</p></li>
  </ul>
</div>
